*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: white;
}

body h1{
    text-align: center;
    padding-top: 15px;
    font-size: 45px;
    background-color: rgb(180, 180, 180);
    height: 100px;
}

.pokemoncontainer{   
    gap: 15px 15px;
    display: flex;
    flex-wrap: wrap;
}
.card img{
    width: 100%;
    padding: 20px;
}
.card{
    height: 300px;
    width: 200px; 
    box-shadow: 0px 0px 5px #ccc;   
}

.card ul{
    text-align: center;
    padding: 0px;
}
.card:hover{
    box-shadow: 0px 0px 15px #a0a0a0;
    transition: 50ms;
}

.pokemonname{
    font-weight: bold;
    color: blue;
}

.pokemonid{
    color: black;
}

span{
border: 2px solid;
padding-left: 2.5px;
padding-right: 2.5px;
padding-bottom: 2px;
border-radius: 8px;
margin: 5px;
border-width: 0px;
}

.Electric
{
    background-color: darkorange;
}

.Normal{
    background-color: grey;
}

.Psychic{
    background-color: palevioletred;
}

.Fire{
background-color: red;
}
.Flying{
background-color: lightblue;
}

.Poison{
background-color: purple;
}

.Grass{
background-color: darkgreen;
}

.Water{
 background-color: darkcyan;
}

.Rock{
    background-color: brown;
}
.Bug{
    background-color: greenyellow;
}

.Dragon{
    background-color: blueviolet;
}
.Steel{
    background-color: silver
}
.Ice{
    background-color: lightskyblue
}


